:80 {
	route /dynamic/whoami {
		sablier url=http://tasks.sablier:10000 names=e2e-whoami-1 session_duration=1m dynamic.display_name=Dynamic-Whoami dynamic.theme=hacker-terminal
		reverse_proxy whoami:80
	}

	route /blocking/whoami {
		sablier url=http://tasks.sablier:10000 names=e2e-whoami-1 session_duration=1m blocking.timeout=30s
		reverse_proxy whoami:80
	}

	route /multiple {
		sablier url=http://tasks.sablier:10000 names=e2e-whoami-1,e2e-nginx-1 session_duration=1m dynamic.display_name=Multiple-Whoami dynamic.theme=hacker-terminal
		reverse_proxy /multiple/whoami whoami:80
		reverse_proxy /multiple/nginx nginx:80
	}

	route /healthy/nginx {
		sablier url=http://tasks.sablier:10000 names=e2e-nginx-1 session_duration=1m dynamic.display_name=Healthy-Nginx dynamic.theme=hacker-terminal
		reverse_proxy nginx:80
	}

    route /group {
        sablier url=http://tasks.sablier:10000 {
            group E2E
            session_duration 1m
            dynamic {
                display_name Group E2E
                theme hacker-terminal
            }
        }
        reverse_proxy whoami:80
    }
}
