:80 {
	route /dynamic/whoami {
		sablier http://sablier:10000 {
			names docker_classic_e2e-whoami-1
			session_duration 1m
			dynamic {
				display_name Dynamic Whoami
				theme hacker-terminal
			}
		}
		reverse_proxy whoami:80
	}

	route /blocking/whoami {
		sablier http://sablier:10000 {
			names docker_classic_e2e-whoami-1
			session_duration 1m
			blocking {
				timeout 30s
			}
		}
		reverse_proxy whoami:80
	}

	route /multiple/whoami {
		sablier http://sablier:10000 {
			names docker_classic_e2e-whoami-1 docker_classic_e2e-nginx-1
			session_duration 1m
			dynamic {
				display_name Multiple Whoami
				theme=hacker-terminal
			}
		}
		reverse_proxy whoami:80
	}

	route /multiple/nginx {
		sablier http://sablier:10000 {
			names docker_classic_e2e-whoami-1 docker_classic_e2e-nginx-1
			session_duration 1m
			dynamic {
				display_name Multiple Whoami
				theme=hacker-terminal
			}
		}
		reverse_proxy nginx:80
	}

	route /healthy/nginx {
		sablier http://sablier:10000 {
			names docker_classic_e2e-nginx-1
			session_duration 1m
			dynamic {
				display_name Healthy Nginx
				theme hacker-terminal
			}
		}
		reverse_proxy nginx:80
	}
}
